<div class="min-h-screen flex items-center justify-center bg-[var(--lumiere-cream)] relative overflow-hidden">

    <div class="absolute inset-0 opacity-10 honeycomb-bg"></div>

    <div class="bg-white p-8 rounded-xl shadow-2xl w-full max-w-md relative z-10 border-t-4 border-[var(--lumiere-bordeaux)] animate-[fadeIn_0.5s_ease-out]">

        <div class="text-center mb-8">
            <div class="w-16 h-16 bg-[var(--lumiere-bordeaux)] rounded-full flex items-center justify-center mx-auto mb-4 text-3xl shadow-lg">
                <img src="LOGO-1.webp" alt="Luz do Refúgio">
            </div>
            <h1 class="text-2xl font-serif-title font-bold text-[var(--lumiere-bordeaux)]">Luz do Refúgio</h1>
            <p class="text-gray-500 text-sm mt-1">Área Restrita de Produção</p>
        </div>

        <form (ngSubmit)="login()">

            <div class="mb-5">
                <label class="block text-sm font-medium text-gray-700 mb-2">Email</label>
                <div class="relative">
                    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none text-gray-400">
                        <i data-feather="user" class="w-4 h-4"></i>
                    </div>
                    <input type="email" [(ngModel)]="credentials.email" name="email"
                           class="pl-10 input-lumiere" placeholder="admin@luzdorefugio.pt" required>
                </div>
            </div>

            <div class="mb-8">
                <label class="block text-sm font-medium text-gray-700 mb-2">Password</label>
                <div class="relative">
                    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none text-gray-400">
                        <i data-feather="lock" class="w-4 h-4"></i>
                    </div>
                    <input type="password" [(ngModel)]="credentials.password" name="password"
                           class="pl-10 input-lumiere" placeholder="••••••••" required>
                </div>
            </div>

            <button type="submit" class="w-full btn-admin-primary py-3 text-lg shadow-lg flex justify-center items-center gap-2">
                <span>Entrar na Fábrica</span>
                <i data-feather="arrow-right" class="w-4 h-4"></i>
            </button>

        </form>

        <div class="mt-6 text-center text-xs text-gray-400">
            &copy; 2026 Sistema de Gestão Interno
        </div>
    </div>
</div>
